/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.back-button {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.back-button:hover {
    background-color: #45a049;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(116, 224, 240);
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #e2fa78;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4CAF50;
    color: white;
}

tr:hover {
    background-color: #f1f1f1;
}

table td,
table th {
    font-size: 16px;
}

table th {
    font-weight: bold;
}

p {
    text-align: center;
    font-size: 18px;
    color: #666;
}
