<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTAF: Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles_home.css') }}">
</head>
<body>
    <div class="content">
        <h1>Chess Tournament Assessment Framework</h1>
        <p><b>A one-stop destination for analysis, rankings and chess</b></p>

        <!-- Form 1: Button 1 -->
        <form action="/" method="POST">
            <button type="submit" name="button" value="addtourn">Add Tournament</button>
            <button type="submit" name="button" value="viewplayers">View Leaderboard</button>
            <button type="submit" name="button" value="tutorial">CCR Calculation</button>
            <button type="submit" name="button" value="iconic">Iconic Games</button>
        </form>
    </div>
</body>
</html>

